{{ define "main" }}
<div style="background: #fffbe6; color: #333; border: 1px solid #e6c200; padding: 1em; margin: 2em 0;">
    <strong>DEBUG: All Site Pages</strong><br>
    {{ range .Site.Pages }}
        &bull; {{ .Title }}<br>
        &nbsp;&nbsp;Type: {{ .Type }}<br>
        &nbsp;&nbsp;Section: {{ .Section }}<br>
        &nbsp;&nbsp;Draft: {{ .Draft }}<br>
        &nbsp;&nbsp;Date: {{ .Date.Format "2006-01-02" }}<br>
        &nbsp;&nbsp;Categories: {{ .Params.categories }}<br>
        &nbsp;&nbsp;Category: {{ .Params.category }}<br>
        &nbsp;&nbsp;Taxonomies: {{ .Params.categories }}<br>
        &nbsp;&nbsp;RelPermalink: {{ .RelPermalink }}<br>
        <br>
    {{ end }}
</div>
{{ end }}
